version: '3.8'
services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  server:
    build: .
    environment:
      - MONGO_URI=mongodb://mongo:27017/sms_db
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - mongo
volumes:
  mongo-data:
